<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day16_downloadDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.itheima.download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet2</display-name>
    <servlet-name>DownloadServlet2</servlet-name>
    <servlet-class>com.itheima.download.DownloadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet2</servlet-name>
    <url-pattern>/downloadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet3</display-name>
    <servlet-name>DownloadServlet3</servlet-name>
    <servlet-class>com.itheima.download.DownloadServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet3</servlet-name>
    <url-pattern>/downloadServlet3</url-pattern>
  </servlet-mapping>
</web-app>